[Desktop Entry]
Name=Sumac Night Molten Glass Blur
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=sumac-night-molten-glass-blur
X-KDE-PluginInfo-Version=1.0
